form {
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 15%;
  justify-content: center;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 0;
  font-size: 1.1em;
  outline: none;
}

button[type="submit"] {
  padding: 10px;
  border: 0;
  background-color: rgb(4, 40, 123);
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  outline: none;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

.content {
  max-width: 1300px;
  width: 80%;
  height: auto;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  grid-gap: 40px;
}

.item {
  width: 400px;
  height: 300px;
  background: rgb(132, 132, 132);
  font-family: op;
}

.item:hover {
  zoom: 110%;
  margin-left: -15px;
  margin-top: -6px;
  -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  transition: all 0.5s 0s ease, all 0.5s 0s ease;
}

.titlesquad {
  justify-content: center;
  display: flex;
  color: #ffffff;
  margin-top: 0px;
  font-size: 35px;
  background-color: rgb(2, 12, 37);
  padding: 15px;
}

.totalprime {
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
}

.number {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}

.status {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}
