.contentBateaux {
  max-width: 1300px;
  width: 80%;
  height: auto;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  grid-gap: 40px;
}

.itemBateaux {
  width: 400px;
  background: rgb(132, 132, 132);
  font-family: op;
}

.titleBateaux {
  font-size: 40px;
  background-color: rgb(2, 12, 37);
  color: white;
  margin-top: 0px;
  padding: 15px;
}

.type {
  font-size: xX-large;
}

.description {
  font-size: x-large;
  padding: 15px;
}
